# Create HAProxy SSL certs secret
# First, create a PEM file with cert and key combined:
# cat nifi.crt nifi.key > nifi.pem
# Then create the secret:
# kubectl create secret generic haproxy-certs --from-file=nifi.pem

apiVersion: v1
kind: Secret
metadata:
  name: haproxy-certs
type: Opaque
data:
  nifi.pem: <base64-encoded-pem-file>
