# Create HAProxy SSL certs secret using provided certificate
# PEM file should contain the certificate and private key combined
# Create the secret:
# kubectl create secret generic haproxy-certs --from-file=nifi.pem=files/nifi.pem

apiVersion: v1
kind: Secret
metadata:
  name: haproxy-certs
type: Opaque
data:
  nifi.pem: <base64-encoded-pem-file>

# Or using kubectl:
# kubectl create secret generic haproxy-certs --from-file=nifi.pem=files/nifi.pem
