apiVersion: v1
kind: Secret
metadata:
  name: nifi-secrets
type: Opaque
stringData:
  sensitive-props-key: "nifiproxypass"
  keycloak-url: "https://keycloak.example.com"
  keycloak-realm: "nifi"
  keycloak-client-id: "nifi-client"
  keycloak-client-secret: "change-me"
  nifi-initial-admin: "admin@example.com"
---
# Create SSL secret after placing keystore.jks and truststore.jks in files/
# kubectl create secret generic nifi-ssl --from-file=../files/keystore.jks --from-file=../files/truststore.jks
